extends layout.pug

block content
    form(action='/makebid' method='post')
        
        .form-group
            p Issuer
            input.input(type='text' name='issuer')
        .form-group
            p Paper Number
            input.input(type='text' name='papernum')
        .form-group
            p Bidder
            input.input(type='text' name='bidder' value=id readonly)
        .form-group
            p Bid Price
            input.input(type='text' name='price')
        
        p
        button(type='submit') Make Bid