extends layout.pug

block content
    form(action='/openbid' method='post')
        
        .form-group
            p Issuer
            input.input(type='text' name='issuer')
        .form-group
            p Paper Number
            input.input(type='text' name='papernum')
        .form-group
            p Bid Opener
            input.input(type='text' name='opener' value=id readonly)
        
        p
        button(type='submit') Open Bid