extends layout.pug

block content
    form(action='/redeem' method='post')
        
        .form-group
            p Issuer
            input.input(type='text' name='issuer')
        .form-group
            p Paper Number
            input.input(type='text' name='papernum')
        .form-group
            p Funder
            input.input(type='text' name='funder' value=id readonly)
        .form-group
            p Date
            input.input(type='text' name='date')
        
        p
        button(type='submit') Redeem