form(action='/issue' method='post')
    
    .form-group
        input.input(type='text' name='issuer')
    .form-group
        input.input(type='text' name='papernum' placeholder='papernum')
    .form-group
        input.input(type='text' name='faceval' placeholder='faceval')
    
    button(type='submit') issue