extends layout.pug

block content

    form(action='/issue' method='post')
        
        .form-group
            p Issuer
            input.input(type='text' name='issuer' value=id readonly)
        .form-group
            p Paper Number
            input.input(type='text' name='papernum')
        .form-group
            p Buyer
            input.input(type='text' name='buyer')
        .form-group
            p Face Value
            input.input(type='text' name='faceval')
        .form-group
            p Issue Date
            input.input(type='text' name='issuedate')
        .form-group
            p Redeem Date
            input.input(type='text' name='redeemdate')
        
        p
        button(type='submit') Issue