form(action='/openbid' method='post')
    
    .form-group
        input.input(type='text' name='issuer')
    .form-group
        input.input(type='text' name='papernum' placeholder='papernum')
    .form-group
        input.input(type='text' name='currentowner' placeholder='currentowner')
    
    button(type='submit') openbid