form(action='/submit' method='post')
    
    .form-group
        input.input(type='text' name='issuer')
    .form-group
        input.input(type='text' name='papernum' placeholder='papernum')
    .form-group
        input.input(type='text' name='currentowner' placeholder='currentowner')
    .form-group
        input.input(type='text' name='newowner' placeholder='newowner')
    
    button(type='submit') sumbit